<div class="container">
  <div class="upper-data">
    
      <img src="../assets/cold.jpg" *ngIf="10 < 13" alt="">

    <!-- <img src="../assets/hot.jpg" *ngIf="30 > 20" alt=""> -->

    <div class="weather-data">
      <div class="location">
        ISTANBUL
      </div>
      <div class="temperature">
        {{12.0 | number}}°C
      </div>
    </div>

  </div>

  <div class="lower-data">
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.png"  alt="">
          <span>Min</span>
        </div>
        <div class="info-block-value">
          10
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.png"  alt="">
          <span>Max</span>
        </div>
        <div class="info-block-value">
          50
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png"  alt="">
          <span>Min</span>
        </div>
        <div class="info-block-value">
          10km/s
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png"  alt="">
          <span>Min</span>
        </div>
        <div class="info-block-value">
          10
        </div>
      </div>
    </div>
  </div>
</div>